@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.roboto {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-alert {
  position: fixed;
  top: 10;
  left: 0;
  background: steelblue;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  width: 300px;
  font-size: 13px;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,150,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner-body {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loadingSpinner {
  width: 50px;
  height: 50px;
  border: 3px solid;
  border-color: #6e20c1 transparent #6b26a7 transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.center-alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,150,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.center-alert-body {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single-product-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,150,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.single-product-body {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.shop-fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  color: #000;
}